%li.delivery-header{class: delivery.shop.name}
  .delivery-header__content
    #{delivery.delivery_date ? delivery.delivery_date.strftime('%Y年%m月%d日') : '????年??月??日'} : #{delivery.shop.display_name} #{delivery.name}
  %ul.list-unstyled
    = render partial: 'home/item', collection: delivery.root_items.zero_item_back, locals: { shop: delivery.shop }
